@import "tailwindcss";

@font-face {
  font-family:'New Zen';
  src: url("./assets/fonts/New-Zen-Bold.otf");
  font-weight: bold;
  font-style: normal;
}
@layer base {
  .font-newzen {
    font-family: 'New Zen', sans-serif;
  }
}
